.react-3d-carousel .slider-container .slider-content .slider-single.active{
opacity: 1 !important;
background: #fff !important;
}



.slider-single-content{
    padding: 2rem 2rem;
    border-radius: 15px;
}
[class*=smol]:not([data-component]) > *:not([data-unstyled]) {
    border: 0px dashed !important;
}


.slider-single-content div span:nth-child(1){
    text-align: justify !important;
    display: block;
    font-size: 2.5vw;
    text-transform: capitalize;
    color: #e23939;
    letter-spacing: 0px;
    text-align: left !important;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    line-height: 1.75;
}

.slider-single-content div span:nth-child(2){
    text-align: justify !important;
    display: block;
    font-size: 1.3vw;
    text-transform: capitalize;
    color: #333;
    letter-spacing: 0px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    line-height: 1.75;
}




@media (min-width: 1600px){
    .slider-single-content div span:nth-child(2){
        font-size: 1.2vw;
    }
}




.react-3d-carousel .slider-container .slider-right div{
  
    color: #fafafa !important;
    border-top: 0px solid #000000 !important;
    border-right: 0px solid #000000 !important;
    border-bottom: 0px solid #000000 !important;
    border-left: 0px solid #000000 !important;
    background: #eb3239 !important;
}

.react-3d-carousel .slider-container .slider-left div{
  
    color: #fafafa !important;
    border-top: 0px solid #000000 !important;
    border-right: 0px solid #000000 !important;
    border-bottom: 0px solid #000000 !important;
    border-left: 0px solid #000000 !important;
    background: #eb3239 !important;
}


.fufiimgx{
    width: 25vw;
    margin: 0 auto;
}

.fufiimgx img{
    max-width: 100%;
}

@media (max-width: 768px){
.fufiimgx{
    display: none;
}

    .slider-single-content div span:nth-child(1){
        text-align: left  !important;
        display: block;
        font-size: 4.4vw;
        
    }

    .slider-single-content div span:nth-child(2){
        text-align: justify !important;
        display: block;
        font-size: 3.4vw;
    }

}